/* Graph Styleing */
html, body {
  margin: 0;
  padding: 0;
}

mdc-button {
  margin: 20px;
}

/* Main Screen */
p {
  font-size: 18px;
  margin: 0;
  background: transparent;
  font-family: "Roboto";
}

h {
  font-size: 26px;
  margin: 0;
  font-family: "Roboto";
  font-weight: 700;
}

a {
  color: #3F4850;
}

sv2 {
  z-index: 2;
}

.node circle {
  stroke: #fff;
  opacity: 0.6;
  stroke-width: 1.5px;
}

text {
  font: 15px serif;
  opacity: 0.6;
  pointer-events: none;
}

.source {
  font-family: "Roboto";
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0;
  padding: 1.5em;
  word-break: break-all;
}

.bookmark-href {
  font-family: "Roboto";
  font-size: 0.75em;
  opacity: 0.5;
  margin: 0;
}

span {
  text-align: left;
  margin: 0;
  background: transparent;
  font-family: "Roboto";
  font-size: 12px;
  transition: all 0.3s ease 0s;
  border: none;
  width: auto;
  height: 25px;
  width: 75px;
  padding: 4px 8px;
  opacity: 1;
}

button {
  text-align: left;
  margin: 0;
  background: transparent;
  font-family: "Roboto";
  font-size: 10px;
  transition: all 0.3s ease 0s;
  border: none;
  width: auto;
  height: 25px;
  width: 250px;
  padding: 4px 8px;
  opacity: 1;
}
button:hover {
  background-color: #d3d3d3;
}

.searchBar {
  position: relative;
  background: transparent;
  font-family: "Roboto";
  font-size: 10px;
  width: 250px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: #E7ECEF;
}
.searchBar:focus {
  width: 50%;
}

circle {
  fill: cadetblue;
}

line {
  stroke: #ccc;
}

text {
  text-anchor: middle;
  font-family: "Roboto";
  fill: #666;
  font-size: 16px;
}

#version {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  text-align: right;
  font-family: "Roboto";
  font-size: 12px;
  transition: all 0.3s ease 0s;
  border: none;
  height: 25px;
  width: 100px;
  padding: 4px 8px;
  opacity: 1;
}

#mapName {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  text-align: left;
  font-family: "Roboto";
  font-size: 12px;
  border: none;
  height: 25px;
  width: 100px;
  padding: 4px 8px;
  opacity: 1;
}

.menuButton {
  text-align: center;
  margin: 0;
  background: transparent;
  font-family: "Roboto";
  font-size: 12px;
  transition: all 0.3s ease 0s;
  border: none;
  width: auto;
  height: 25px;
  width: 75px;
  padding: 4px 8px;
  opacity: 1;
}
.menuButton:hover {
  background-color: #d3d3d3;
}

/* -- dropdown menus -- */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown-content {
  height: auto;
  width: auto;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  content: "";
  display: block;
  z-index: 1;
}

.dropdownMenuButton {
  text-align: left;
  margin: 0;
  z-index: 1;
  background: transparent;
  font-family: "Roboto";
  font-size: 10px;
  transition: all 0.3s ease 0s;
  border: none;
  height: 25px;
  width: 250px;
  padding: 4px 8px;
  opacity: 1;
}
.dropdownMenuButton:hover {
  background-color: #d3d3d3;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  font-family: "Roboto";
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 5px 10px 8px #888888;
  /* Adding Box Shadow */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  top: 0;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* -- Divs -- */
#IntroPage {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 0;
  font-family: "Roboto";
  font-size: 20px;
  z-index: 1;
  animation: appear 3s ease forwards 5.5s;
  background-color: #F6F6F6;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Splash Screen */
#splash-screen {
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-color: #3F4850;
  opacity: 1;
  position: absolute;
  animation: disappear 2s ease forwards 5.5s;
}

@keyframes disappear {
  from {
    fill: transparent;
  }
  to {
    opacity: 0;
  }
}
#loading-anim {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 1s ease forwards 3s;
}
#logo path:nth-child(1) {
  stroke-dasharray: 254.035;
  stroke-dashoffset: 254.035;
  animation: line-anim 2s ease forwards 0s;
}
#logo path:nth-child(2) {
  stroke-dasharray: 217.91;
  stroke-dashoffset: 217.91;
  animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 149.64;
  stroke-dashoffset: 149.64;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 251.54;
  stroke-dashoffset: 251.54;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 149.64;
  stroke-dashoffset: 149.64;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 206.22;
  stroke-dashoffset: 206.22;
  animation: line-anim 2s ease forwards 1s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 227.712;
  stroke-dashoffset: 227.712;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 217.907;
  stroke-dashoffset: 217.907;
  animation: line-anim 2s ease forwards 1.4s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0%;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

/* Material Ui Themeing */

$mdc-theme--primary: #F27A7B
