/* Graph Styleing */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: #F6F6F6;
}

mdc-button {
  margin: 20px;
}

/* Main Screen */
p {
  font-size: 18px;
  text-align: left;
  display:inline;
  margin: 0;
  background: transparent;
}

.dev-p {
  font-size: 18px;
  text-align: center;
  margin: 0;
  background: transparent;
}

h {
  font-size: 26px;
  margin: 0;
  font-weight: 700;
}

a {
  font-size: 18px;
  margin: 0;
  background: transparent;
}

hr {
  margin-left: 5px;
  margin-right: 5px;
}

sv2 {
  z-index: 3;
}

.node circle {
  stroke: #fff;
  opacity: 0.6;
  stroke-width: 1.5px;
}

text {
  font: 15px;
  opacity: 0.6;
  pointer-events: none;
  font-family: 'Raleway', sans-serif;
}

.source {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0;
  padding: 1.5em;
  word-break: break-all;
}

.bookmark-href {

  font-size: 0.75em;
  opacity: 0.5;
  margin: 0;
}

span {
  text-align: left;
  margin: 0;
  background: transparent;
  font-size: 12px;
  transition: all 0.3s ease 0s;
  border: none;
  width: auto;
  height: 25px;
  width: 75px;
  padding: 4px 8px;
  opacity: 1;
}

button {
  text-align: left;
  margin: 0;
  background: transparent;
  font-size: 10px;
  transition: all 0.3s ease 0s;
  border: none;
  width: auto;
  height: 25px;
  width: 250px;
  padding: 4px 8px;
  opacity: 1;
}

button:hover {
  background-color: #d3d3d3;
}

line {
  stroke: #ccc;
}

text {
  text-anchor: middle;
  fill: #666;
  font-size: 16px;
}

.menuButton {
  text-align: center;
  margin: 0;
  background: transparent;
  font-size: 12px;
  transition: all 0.3s ease 0s;
  border: none;
  width: auto;
  height: 25px;
  width: 75px;
  padding: 4px 8px;
  opacity: 1;
}

.menuButton:hover {
  background-color: #d3d3d3;
}

/* -- dropdown menus -- */
.dropdown {
  display: inline-block;
  left:5%;
  position: relative;
  z-index: 5;
  margin:none;
}

.dropdown-content {
  height: auto;
  width: auto;
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #F6F6F6;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Raleway', sans-serif;
  padding: 12px 16px;
  z-index: 3;
}

.dropdown:hover .dropdown-content {
  content: "";
  position: absolute;
  display: block;
  z-index: 3;
}

.dropdownMenuButton {
  outline: none;
  text-align: left;
  border-radius: 5px;
  margin: 0;
  z-index: 3;
  background: transparent;
  font-size: 10px;
  transition: all 0.3s ease 0s;
  border: none;
  height: 25px;
  width: 250px;
  padding: 4px 8px;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
}

.dropdownMenuButton:hover {
  background-color: rgb(83,83,83,0.05);
}

.dropdownMenuButton:active {

}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  /* Fallback color */
  background-color: rgba(0,0,0,.75);
  color: #000000;
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Adding Box Shadow */
}

.properties-content{
  overflow: auto;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  top: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Splash Screen */
#bootup-screen {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: #F6F6F6;
  opacity: 1;
  position: absolute;
}

#main-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  display:none;
  font-size: 20px;
  z-index: 2;
  background-color: #F6F6F6;

}

#options-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  display:none;
  font-size: 20px;
  z-index: 2;
  background-color: #F6F6F6;
}

#video-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  display:none;
  font-size: 20px;
  z-index: 2;
  background-color: #F6F6F6;
}

#options-video-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  display:none;
  font-size: 20px;
  z-index: 1;
  background-color: #F6F6F6;
}

#about-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  display:none;
  font-size: 20px;
  z-index: 2;
  background-color: #F6F6F6;
  overflow:scroll;
}

#developers-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  display:none;
  font-size: 20px;
  z-index: 2;
  background-color: #F6F6F6;
  overflow:scroll;
}

#help-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  display:none;
  font-size: 20px;
  z-index: 2;
  background-color: #F6F6F6;
}

#title {
  top: 30%;
  left: 50%;
  font-size: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.menu {
  width: 200px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  text-align: center;
}

#about-title {
  top: 5%;
  left: 50%;
  font-size: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.about-menu {
  width: 600px;
  height: 250px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  text-align: left;
}

#privacy-title {
  top: 5%;
  left: 50%;
  font-size: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.privacy-menu {
  width: 600px;
  height: 250px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  text-align: center;
}

.privacy-back-buttons {
  width: 500px;
  height: 250px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline;
  text-align: center;
}

#splash-screen {
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: #F6F6F6;
  display: none;
  position: absolute;

}

/* -- Divs -- */
#map-screen {
  width: 100%;
  height: 100vh;
  position: relative;
  display:none;
  font-size: 20px;
  z-index: 4;
  background-color: #F6F6F6;
}

/* Map Search Bar */
#search-bar {
  width: 500px;
  height: 40px;
  outline: none;
  border-radius: 10px;
  display:none;
  font-size: 20px;
  z-index: 5;
  background-color: #F6F6F6;
  top: 50%;
  left: 50%;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#propertiesMenu {
  width: 500px;
  height: 450px;
  outline: none;
  border-radius: 10px;
  display: none;
  text-align: center;
  font-size: 20px;
  z-index: 5;
  background-color: #F6F6F6;
  top: 50%;
  left: 50%;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

div.tooltip {
  position: absolute;
  text-align: left;
  text-overflow: ellipsis;
  width: 100px;
  height: 25px;
  padding: 8px;
  font-family: 'Raleway', sans-serif;
  background: #F6F6F6;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  pointer-events: none;
  z-index: 4;
}

text.tooltip {
  position: absolute;
  text-align: left;
  text-overflow: ellipsis;
  outline: none;

  /*make it so that the text is not highlightable*/

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* context menu */
#nodeDropDownMenu {
  width: 150px;
  height: 150px;
  outline: none;
  border-radius: 10px;
  display:none;
  font-size: 20px;
  z-index: 5;
  padding: 8px;
  background-color: #F6F6F6;
  position: absolute;
  transform: translate(-5%, -5%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nodeDropDownMenuButton {
  outline: none;
  text-align: left;
  border-radius: 5px;
  z-index: 5;
  background: transparent;
  font-size: 10px;
  transition: all 0.3s ease 0s;
  border: none;
  height: 25px;
  width: 150px;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
}

#reorganizeMenu {
  width: 500px;
  height: 500px;
  outline: none;
  border-radius: 10px;
  display:none;
  font-size: 20px;
  z-index: 5;
  background-color: #F6F6F6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#searchResults {
  display:none;
  overflow-y:auto;
}

#searchTitle {
  font-size: 13px;
}

#login-svg path{
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

}

/* Material Ui Themeing */
#version {
  width: auto;
  height:auto;
  padding:0px;
  margin:0px;
  font-size: 26px;

}

#map {
  z-index:2;
}

.customColor {
  width: auto;
  height:auto;
  padding:0px;
  margin:0px;
}

.customColor.blue {
  --mdc-theme-primary: #000000;
  --mdc-theme-secondary: #F6F6F6;
  --mdc-theme-on-surface:#FBF38C;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-light);
  --mdc-theme-on-surface: #F6F6F6;
}

.customColor.yellow {
  --mdc-theme-primary: #F9C22E;
  --mdc-theme-secondary: #892ef9;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

.customColor.red {
  --mdc-theme-primary: #F15946;
  --mdc-theme-secondary: #46f193;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

.customColor.white {
  --mdc-theme-primary: #F6F6F6;
  --mdc-theme-secondary: #F6F6F6;
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-light);
  --mdc-theme-on-secondary: var(--mdc-theme-text-secondary-on-light);
}

.customSize {
  padding:0px;
  margin:0px;
}

.customSize.search {
  width: 50px;
  height: 50px;
  position: absolute;
  right:    10px;
  bottom:   175px;
}

.customSize.help {
  width: 50px;
  height: 50px;
  position: absolute;
  right:    10px;
  bottom:   120px;
}

.customSize.settings {
  width: 50px;
  height: 50px;
  position: absolute;
  right:    10px;
  bottom:   65px;
}

.customSize.home {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.customSize.general {
  text-align: left;
  display: inline;
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
}

.customSize.generalMenu {
  top:50%;
  text-align: left;
  display: inline;
  margin:10px;
  font-family: 'Raleway', sans-serif;
}

.customSize.close {
  width: 50px;
  height: 50px;
  text-align: left;
  margin: 0;
  font-size: 12px;
  height: 50px;
  width: 50px;
  opacity: 1;
}

.customSize.searchBar {
  width: 480px;
  margin:10px;
  display:inline-block;
}

.customSize.searchLabel {
  font-family: 'Raleway', sans-serif;
}

.customSize.searchResultLabel {
  font-size: 8px;
  font-family: 'Raleway', sans-serif;
}

.customSize.searchResult {
  outline: none;
  height: 30px;
  width: 245px;
  z-index: 5;
  display: block;
  border-radius: 10px;
  background-color: #F6F6F6;
  margin:5px;
  opacity: 50%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  };
